@import "tailwindcss";

:root {
  font-family: Inter, system-ui, -apple-system, Segoe UI, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: rgb(10 10 10);
  color: rgb(229 229 229);
}
